<div id="carouselCamisas" class="carousel slide marginTop1" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselCamisas" data-slide-to="0" class="active"></li>
        <li data-target="#carouselCamisas" data-slide-to="1"></li>
        <li data-target="#carouselCamisas" data-slide-to="2"></li>
        <li data-target="#carouselCamisas" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imagens/BannerMG.jpg" class="d-block w-100" alt="Camisa">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/BannerAmericaSul.jpg" class="d-block w-100" alt="Camisa">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/BannerRJ.jpg" class="d-block w-100" alt="Camisa">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/BannerEuropa.jpg" class="d-block w-100" alt="Camisa">
        </div margin="10px">
    </div>
    <a class="left carousel-control" href="#carouselCamisas" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carouselCamisas" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>